.user_signup {
  max-width: 40%;
  width: 100%;
  padding: 46px 55px 20px 55px;
  overflow-y: scroll;
}
.caption {
  padding: 0 35px;
  margin-bottom: 40px;
}
.caption h3 {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.4px;
  color: #3c3b3b;
  margin-top: 20px;
  margin-bottom: 10px;
}
.card {
  position: relative;
  width: 100%;
  min-height: 200px;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 -6px 14px 0 rgba(254, 78, 110, 0.2);
  padding: 20px 30px;
}
.group {
  /* width: 50%; */
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
.group div {
  margin-bottom: unset;
  width: 100%;
}
.submit {
  position: relative;
  margin-top: 40px;
  margin-bottom: 30px; /* 60px */
  padding-bottom: 30px;
  border-bottom: solid 1px rgba(151, 151, 151, 0.4);
  display: flex;
  flex-direction: column;
}
.submit h4 {
  font-size: 13px;
  margin-top: 22px;
  margin-bottom: 0;
  line-height: 20px;
  color: #919090;
  font-weight: 400;
}
.submit h4 span {
  font-weight: bold;
  color: #919090;
  text-decoration: none;
}
.btn {
  align-self: flex-end;
  width: 110px;
  position: relative;
  right: 0;
  margin-top: 10px;
  background-color: inherit;
  border: 1px solid #65ead1 !important;
  color: #65ead1 !important;
}
.fb_login {
  display: flex;
  justify-content: center;
}

.fb_login button {
  width: 280px;
  height: 42px;
  border-radius: 2px;
  font-size: 12px;
  background-color: #1877f2;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  border: none;
  outline: none;
  /* bottom: 20px; */
}
.signup {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.3px;
  text-align: center;
  color: #919090;
  margin-top: 15px;
}
.signup a {
  font-weight: bold;
  color: #919090;
}

@media (max-width: 1200px) {
  .user_signup {
    padding: 46px 15px 20px 15px;
  }
}
@media (max-width: 992px) {
  .user_signup {
    max-width: 50%;
  }
  .caption {
    text-align: center;
  }
  .btn {
    align-self: center;
  }
}
@media (max-width: 768px) {
  .user_signup {
    max-width: 100%;
    order: 1;
  }
  .group {
    flex-direction: column;
    gap: 0;
  }
  .group div {
    margin-top: 25px;
  }
}
