dialog {
  max-width: 50%;
}
.dreamy-modal-backdrop {
  inset: 0;
  position: fixed;
  z-index: 9;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.dreamy-modal {
  /* overflow-y: scroll; */
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: none;
  outline: none;
}
.modal-heading {
  padding: 0.5rem;
  font-size: 24px;
}
.modal-closebutton {
  position: absolute;
  border: none;
  left: 0;
  top: 0;
  padding: 0.25rem;
  background-color: #fff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-closebutton img {
  display: block;
  width: 24px;
  height: 24px;
}
