:root {
  --foreground-rgb: 3, 3, 3;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  color: #333;
  background: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
    color: #fff;
  }
}
button {
  font: inherit;
}

.menu_hover {
  color: #fe4e6e;
}
.active_link {
  color: #65ead1;
}
.fixed {
  /* position: fixed; */
  overflow-y: hidden;
}
.text-white {
  color: #fff;
}
.text-black {
  color: #333;
}
.bg-white {
  background-color: #fff;
}
.bg-slate {
  background-color: rgb(71 85 105);
}
