.main {
  min-height: 100vh;
}
.banner_container {
  width: 100%;
  height: auto;
}
.banner_image {
  width: 100%;
  height: auto;
  /* background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
}
.wrapper {
  margin: 0 auto;
  max-width: 966px;
  width: 100%;
  min-height: 600px;
  padding-bottom: 20px;
}
