.main {
  min-height: 100vh;
}
.mainbanner_container {
  width: 100%;
  height: auto;
}
.mainbanner_image {
  width: 100%;
  height: auto;
  /* background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
}
