.slider {
  position: relative;
  max-width: 60%;
  width: 100%;
}
.slide {
  width: 100%;
  height: calc(100vh - 90px);
  position: relative;
}
.slide img {
  height: 100%;
  object-fit: cover;
}
.caption {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  text-align: center;
}
.slide button,
.submit button {
  background-color: inherit;
  min-width: 140px;
  height: 40px;
  border: 1px solid #ffffff;
  text-align: center;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 0.4px;
  color: #ffffff;
  border-radius: 4px;
  outline: none;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}
.slide button:hover {
  background-color: inherit;
  color: #ffffff;
  border: 1px solid #65ead1;
  background-image: linear-gradient(to bottom, #59ecab, #65ead1);
}
.pagi {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 20px;
  bottom: 30px !important;
}
.pagi_bullet {
  width: 10px;
  height: 10px;
  background-color: #fff;
  /* opacity: 0.2; */
  z-index: 99;
}

@media (max-width: 992px) {
  .slider {
    max-width: 50%;
  }
}
@media (max-width: 768px) {
  .slider {
    max-width: 100%;
    order: 2;
  }
}
